* {
    xbg:    #101319;
    xfg:    #f4f3ee;
    x0:     #171b24;
    x1:     #E34F4F;
    x2:     #69bfce;
    x3:     #e37e4f;
    x4:     #5679E3;
    x5:     #956dca;
    x6:     #5599E2;
    x7:     #f4f3ee;
    x8:     #3A435A;
    x9:     #DE2B2B;
    x10:    #56B7C8;
    x11:    #DE642B;
    x12:    #3E66E0;
    x13:    #885AC4;
    x14:    #3F8CDE;
    x15:    #DDDBCF;
}
