/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #141111;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Iosevka Nerd Font';
  font-size: medium;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #292953;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #292953;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #6E5D8F;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #B368A3;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #BF93BB;
}
