<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<separator label="Start Menu"/>
		<item label=" Firefox">
			<action name="Execute">
				<execute>
					firefox
				</execute>
			</action>
		</item>
		<item label=" Terminal">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label=" Sublime">
			<action name="Execute">
				<execute>
					subl
				</execute>
			</action>
		</item>
		<item label=" Files">
			<action name="Execute">
				<execute>
					thunar
				</execute>
			</action>
		</item>
		<item label=" Discord">
			<action name="Execute">
				<execute>
					discord
				</execute>
			</action>
		</item>
		<item label=" Evince">
			<action name="Execute">
				<execute>
					evince
				</execute>
			</action>
		</item>
		<item label=" Lutris">
			<action name="Execute">
				<execute>
					lutris
				</execute>
			</action>
		</item>
		<item label=" Steam">
			<action name="Execute">
				<execute>
					steam
				</execute>
			</action>
		</item>
		<item label=" GIMP">
			<action name="Execute">
				<execute>
					gimp
				</execute>
			</action>
		</item>
		<item label=" Compositor">
			<action name="Execute">
				<execute>
					compositor	
				</execute>
			</action>
		</item>
		<!-- <menu id="openbox-menu" label="Applications" execute="/usr/bin/openbox-menu lxde-applications.menu"/> -->
		<!-- <menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/> -->
		<menu execute="~/.config/openbox/pipemenus/obrecent.sh ~/" id="recent" label=" Recent Files"/>
		<menu id="Preferences" label=" Preferences">
			<menu id="root-menu-525118" label="Openbox Config">
				<item label="Edit autostart">
					<action name="Execute">
						<execute>
							subl ~/.config/openbox/autostart
						</execute>
					</action>
				</item>
				<!-- <item label="GUI Menu Editor">
					<action name="Execute">
						<execute>
							obmenu
						</execute>
					</action>
				</item> -->
				<item label="GUI Config Tool">
					<action name="Execute">
						<execute>
							obconf
						</execute>
					</action>
				</item>
				<item label="Key Editor">
					<action name="Execute">
						<!-- <execute>
							obkey
						</execute> -->
						<execute>
							subl ~/.config/openbox/rc.xml
						</execute>
					</action>
				</item>
				<item label="Menu Editor">
					<action name="Execute">
						<execute>
							subl ~/.config/openbox/menu.xml
						</execute>
					</action>
				</item>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="root-menu-23433" label="Take Screenshot">
				<item label="Now">
					<action name="Execute">
						<execute>
							scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/Screenshots/ &amp; feh ~/Pictures/Screenshots/$f'
						</execute>
					</action>
				</item>
				<item label="In 5 Seconds...">
					<action name="Execute">
						<execute>
							scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/Screenshots/ &amp; feh ~/Pictures/Screenshots/$f'
						</execute>
					</action>
				</item>
				<item label="In 10 Seconds...">
					<action name="Execute">
						<execute>
							scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/Screenshots/ &amp; feh ~/Pictures/Screenshots/$f'
						</execute>
					</action>
				</item>
				<item label="Selected Area... (click &amp; drag mouse)">
					<action name="Execute">
						<execute>
							scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Pictures/Screenshots/ &amp; feh ~/Pictures/Screenshots/$f'
						</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-571948" label="tint2 config">
				<item label="Edit tint2rc">
					<action name="Execute">
						<execute>
							subl ~/.config/tint2/tint2rc
						</execute>
					</action>
				</item>
				<item label="tint2conf">
					<action name="Execute">
						<execute>
							tint2conf
						</execute>
					</action>
				</item>
			</menu>
			<item label="Input Device Preferences">
				<action name="Execute">
					<execute>
						lxinput
					</execute>
				</action>
			</item>
			<item label="Screen Resolution">
				<action name="Execute">
					<execute>
						arandr
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>
						nitrogen
					</execute>
				</action>
			</item>
		</menu>
		<item label=" Exit">
			<action name="Execute">
				<execute>
                        lxsession-logout
                        </execute>
			</action>
		</item>
	</menu>
</openbox_menu>
