/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #13052F;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'FantasqueSansMono Nerd Font';
  font-size: large;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #4B4FCA;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

hr {
  border: 0;
  border-top: 2px solid #4B4FCA;
  opacity: .4;
  width: 600px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 600px;
}

li {
  color: #7564D2;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #9677B1;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #57D5F3;
}
