
:root {
    --color0: #0E0115
    --color1: #31046A
    --color2: #490D6D
    --color3: #601961
    --color4: #FC0435
    --color5: #B4175C
    --color6: #4442CD
    --color7: #BD67C0 
}

/*
@-moz-document url(chrome://browser/content/browser.xul) {
    
}*/


/* Tab Group Page Style (Ctrl+Shift+E) */
/*@-moz-document url(chrome://browser/content/tabview.html) {
    
}*/


/* AGENT_SHEET */
/*@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(chrome://liberator/), url-prefix(file:///) {
    
}*/


/* Full Tab Width */
/*.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: none !important;
}
*/

/* Selected tab */
.tab-background[selected="true"] {
    background-attachment: none!important;
    background-color: #14011E!important;
    background-image: none!important;
    /*font-color: #B4175C !important;*/
}

/* Selected tab text color */
#TabsToolbar .tabbrowser-tab[selected] {
    color: #B4175C !important;
    /*font-weight: bold !important;*/
}

/* When firefox window is not in focus */
/*.tabbrowser-tab:not([selected="true"]) :-moz-window-inactive > .tab-label-container {color: #31046A;}
.tabbrowser-tab:not([selected="true"]) :-moz-window-inactive > .tabbrowser-tab{--tab-loading-fill:#31046A!important;}
.tabbrowser-tab:not([selected="true"]) :-moz-window-inactive > .tab-line {background-color: #B4175C !important;}*/

/* Urlbar */
#urlbar, .searchbar-textbox {
    /*font-size: 14px !important;
    background: #ffffff30 !important;
    box-shadow: none !important;
    border: 1px solid #ffffff40 !important;
    border-radius: 2px !important;*/
    color: #B4175C !important;
}


/* Navbar (surrounds the urlbar) */
#nav-bar, .tab-background[selected="true"] {
    background: #14011E !important;
    border: 0px solid #ffffff40 !important;
}

/* background color around/behind pictures opened in firefox (require html namespace on top) */
@-moz-document regexp("(https?://|file:///)(.*)\\.(jpeg|jpg|gif|png|apng|svg|bmp|webm|webp)") {
    body { background: var(--color0) !important; }
    img.decoded { background-color: transparent !important; }
}


/* About:Blank background */
/*@-moz-document url(about:blank) {
    html,body { background: var(--color0) !important; }
}*/

/*----- Fix for white flash on new tab -----*/
tabbrowser tabpanels, #appcontent > #content { background: var(--color0) !important; }

/*----- Firefox 57 tab line on top of selected tab -----*/
.tab-line { 
    height: 3px !important;
    background-color: #B4175C !important;
} 

/* Change animation to fit theme */
.tabbrowser-tab{
  --tab-loading-fill:#B4175C!important;
}