
:root {
    --color0: #0C0310;
    --color1: #B1393A;
    --color2: #911558;
    --color3: #325256;
    --color4: #252790;
    --color5: #E46A4D;
    --color6: #461E8A;
    --color7: #F2EEAF;
    --color8: #1C1103;
    --back_light: #1F0B28;
}

/*
@-moz-document url(chrome://browser/content/browser.xul) {
    
}*/


/* Tab Group Page Style (Ctrl+Shift+E) */
/*@-moz-document url(chrome://browser/content/tabview.html) {
    
}*/


/* AGENT_SHEET */
/*@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(chrome://liberator/), url-prefix(#0C0310:///) {
    
}*/


/* Full Tab Width */
/*.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: none !important;
}
*/

/* No 'i' icon in urlbar */
/*#identity-icon {
    display: none !important;
}*/
/* No lock icon in urlbar */
/*#identity-box {
    display: none !important;
}*/

/* Center URL */
/*#urlbar .urlbar-input-box {
    text-align: center;
    margin-bottom: 1px;
}*/

/* Bookmark padding */
/*toolbarbutton.bookmark-item:not(.subviewbutton) {
    padding: 1px 6px !important;
}*/
/* Get rid of bookmark icon */
/*.bookmark-item .toolbarbutton-icon {
    display: none;
}*/

/* Remove Three Dots */
/*#pageActionButton {
  display: none !important;
}
*/
/* Selected tab */
.tab-background[selected="true"] {
    background-attachment: none!important;
    /*background-color: var(--color0) !important;*/
    background-color: var(--back_light) !important;
    background-image: none!important;
    /*font-color: var(--color6) !important;*/
}

/* Urlbar border when typing */
#urlbar[focused=true] {
    border-color: var(--color6) !important;
    border-width: 1px !important;
}

/* Selected tab text color */
#TabsToolbar .tabbrowser-tab[selected] {
    color: var(--color7) !important;
    /*font-weight: bold !important;*/
}

/* When firefox window is not in focus */
/*.tabbrowser-tab:not([selected="true"]) :-moz-window-inactive > .tab-label-container {color: #B1393A;}
.tabbrowser-tab:not([selected="true"]) :-moz-window-inactive > .tabbrowser-tab{--tab-loading-fill:#B1393A!important;}
.tabbrowser-tab:not([selected="true"]) :-moz-window-inactive > .tab-line {background-color: var(--color1) !important;}*/

/* Urlbar */
#urlbar, .searchbar-textbox {
    /*font-size: 14px !important;
    background: #F2EEAF30 !important;
    box-shadow: none !important;
    border: 1px solid #F2EEAF40 !important;
    border-radius: 2px !important;*/
    color: var(--color7) !important;
    font-size: 10pt !important;

}

/* Global font */
* {
  font-size: 10pt !important;
  /*font-family: PxPlus IBM EGA8!important;  */
  font-family: Iosevka Nerd Font!important;
  font-weight: bold !important;

}

/* Navbar (surrounds the urlbar) */
#nav-bar, .tab-background[selected="true"] {
    /*background: var(--color0) !important;*/
    background: var(--back_light) !important;
    
    border: 0px solid #F2EEAF40 !important;

}

/* background color around/behind pictures opened in firefox (require html namespace on top) */
@-moz-document regexp("(https?://|#0C0310:///)(.*)\\.(jpeg|jpg|gif|png|apng|svg|bmp|webm|webp)") {
    body { background: var(--color0) !important; }
    img.decoded { background-color: transparent !important; }
}

/* About:Blank background */
/*@-moz-document url(about:blank) {
    html,body { background: var(--color0) !important; }
}*/

/*----- Fix for white flash on new tab -----*/
tabbrowser tabpanels, #appcontent > #content { background: var(--color0) !important; }

/*----- Firefox 57 tab line on top of selected tab -----*/
.tab-line { 
    height: 0px !important;
    background-color: var(--color6) !important;
} 

/* Change animation to fit theme */
.tabbrowser-tab{
  --tab-loading-fill:var(--color6)!important;
}
